.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
}

@media (orientation: landscape) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.list {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.vegetables-list {
  list-style: none;
  padding: 0;
}

.vegetables-list li {
  margin-bottom: 5px;
}

.vegetable-name {
  cursor: pointer;
  padding: 2px 5px;
  border: 1fr;
  border: 1px solid transparent;
}

.vegetable-name:hover {
  border: 1px solid #aaa;
}
